openapi: 3.1.0
externalDocs:
  url: example.com

info:
  title: Redocly Cafe Azure APIM test case.
  summary: Azure APIM test
  version: 1.0.0

security: [] # violates rule/security-ignored-azure-apim, should not be defined
servers:
  - url: https://api.cafe.redocly.com
  - url: staging.cafe.redocly.com
paths:
  /orders:
    post:
      operationId: create-order
      summary: Create an order
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Order"
      responses:
        '201':
          description: CREATED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
    get:
      operationId: list-orders
      summary: List orders
      externalDocs:
        url: example.com

      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Order"
      responses:
        '200':
          description: OK
          content:
            application/json:
              # invalid because not using ref for the whole schema.
              schema:
                type: array
                items:
                  - $ref: "#/components/schemas/Order"

  /menu:
    post:
      operationId: create-menu-item
      summary: Create a menu item
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              type: object
              properties:
                name:
                  type: string

components:
  schemas:
    Order:
      type: object
      properties:
        customerName:
          type: string
        status:
          type: string
        totalPrice:
          type: integer
        orderItems:
          type: array
          items:
            type: object
            properties:
              menuItemId:
                type: string
              quantity:
                type: integer
              comment:
                type: string
